{
    "clusterName": "REPLACE_IT",
    "kubeAPIHost": "REPLACE_IT",
    "kubeAPIPort": "REPLACE_IT",
    "kubeAPIUser": "REPLACE_IT",
    "kubeAPIPassword": "REPLACE_IT",
    "machineTypes": [
        "m4.large"
    ],
    "masterPrivateAddr": "REPLACE_IT",
    "providerName": "aws",
    "provider": {
        "awsIAMRole": "kubernetes-node",
        "awsImageID": "ami-cc0900ac",
        "awsKeyID": "REPLACE_IT",
        "awsKeyName": "REPLACE_IT",
        "awsRegion": "REPLACE_IT",
        "awsSecretKey": "REPLACE_IT",
        "awsSecurityGroups": "REPLACE_IT",
        "awsSubnetID": "REPLACE_IT",
        "awsVolSize": "100",
        "awsVolType": "gp2"
    },
    "sshPubKey": "REPLACE_IT",
    "workersCountMax": 3,
    "workersCountMin": 1,
    "paused": true
}
