apiVersion: v1
clusters:
- cluster:
    certificate-authority: /etc/kubernetes/ssl/ca.key
    server: https://54.193.97.180:443
  name: supergiant
contexts:
- context:
    cluster: supergiant
    user: supergiant
  name: supergiant
current-context: supergiant
kind: Config
preferences: {}
users:
- name: supergiant
  user:
    token: 0lLEJhRN
